.btn-container {
  z-index: 40;
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

button {
  font-family: "Bricolage Grotesque", "sans-serif";
  font-size: 26px;
  padding: 10px 50px;
  border: 2px solid white;
  border-radius: 50px;
  background-color: transparent;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-arrow {
  position: absolute;
  left: 41%;
  margin-top: 12px;
  transition: margin-top 0.2s ease;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  .btn-arrow {
    margin-top: 19px;
  }
}
