.scroll-h-container {
  height: 100vh;
  bottom: 0.67%;
  position: absolute;
  left: 100%;
  display: flex;
  flex: inline;
  gap: 100px;
  align-items: center;
  img {
    height: 100vh;
    width: auto;
  }
}

.scroll-h-seperator {
  img {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 180px;
  }
  :nth-child(1) {
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
  }
}

.scroll-h-fresco-container {
  min-height: 100vh;
  max-height: 100vh;
  margin-left: 970px;
  margin-right: -100px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  gap: 20vw;
  background-color: black;
  img {
    height: 60vh;
    z-index: 1;
  }
  img:nth-of-type(even) {
    align-self: flex-start;
  }
  img:nth-of-type(odd) {
    align-self: flex-end;
  }
}

#scroll-h-fresco-last-img {
  height: 100vh;
  align-self: center;
  margin-right: 50vw;
}

#scroll-h-fresco-last-img-first {
  height: 90vh;
  align-self: center;
}
