.scroll-h-container {
  bottom: 0.67%;
  position: absolute;
  left: 100%;
  height: 100vh;
  display: flex;
  flex: inline;
  gap: 100px;
  align-items: center;
  img {
    height: 100vh;
    width: auto;
  }
}

.scroll-h-seperator {
  position: absolute;
  top: 0;
  left: 0px;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  :nth-child(1) {
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
  }
}

.scroll-h-img-container {
  margin-left: 970px;
  display: flex;
  align-items: center;
  gap: 500px;
  background-color: black;
  img {
    max-width: 40vw;
    height: 100%;
  }
}
