.zoom-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.zoom,
.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.parallax {
}

.zoom-1-5,
.zoom-1-6,
.zoom-1-btn {
  z-index: 31;
}

.zoom-2-5,
.zoom-2-6 {
  z-index: 26;
}

.zoom-3-5,
.zoom-3-6,
.zoom-3-7,
.zoom-3-8,
.zoom-3-9,
.zoom-3-10 {
  z-index: 21;
}

.zoom-4-5,
.zoom-4-6 {
  z-index: 16;
}

.zoom-5-5,
.zoom-5-6 {
  z-index: 11;
}

.zoom-01 {
  background-image: url(../img/BD/10.png);
  z-index: 30;
}

.zoom-02 {
  background-image: url(../img/BD/20.png);
  z-index: 25;
}

.zoom-03 {
  background-image: url(../img/BD/30.png);
  z-index: 20;
}

.zoom-04 {
  background-image: url(../img/BD/40.png);
  z-index: 15;
}

.zoom-05 {
  background-image: url(../img/BD/50.png);
  z-index: 10;
}

.zoom-06 {
  width: 100vw;
  height: 300vh;
  background-image: url(../img/BD/60.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 0;
}

.scroll-h {
  width: 150%;
  bottom: 0.67%;
  position: absolute;
  left: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex: inline;
  gap: 100px;
  overflow: hidden;
  align-items: center;
  padding: 100px;
}
