.zoom-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.zoom,
.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.zoom-1-5,
.zoom-1-6,
.zoom-1-btn {
  z-index: 31;
}

.zoom-2-5,
.zoom-2-6 {
  z-index: 26;
}

.zoom-3-5,
.zoom-3-6,
.zoom-3-7,
.zoom-3-8,
.zoom-3-9,
.zoom-3-10 {
  z-index: 21;
}

.zoom-4-5,
.zoom-4-6 {
  z-index: 16;
}

.zoom-5-5,
.zoom-5-6 {
  z-index: 11;
}

.zoom-01 {
  background-image: url(../img/BD/10.webp);
  z-index: 30;
}

.zoom-02 {
  background-image: url(../img/BD/20.webp);
  z-index: 25;
}

.zoom-03 {
  background-image: url(../img/BD/30.webp);
  z-index: 20;
}

.zoom-04 {
  background-image: url(../img/BD/40.webp);
  z-index: 15;
}

.zoom-05 {
  background-image: url(../img/BD/50.webp);
  z-index: 10;
}

.zoom-06 {
  width: 100vw;
  height: 300vh;
  background-image: url(../img/BD/60.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 0;
}

.zoom-6-5,
.zoom-6-6,
.zoom-6-7,
.zoom-6-8 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
}
