* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  scroll-behavior: smooth;
}

img,
video {
  height: 50vh;
  width: 80vh;
  display: block;
}

h1 {
  text-align: center;
  font-family: "Dorsa", "sans-serif";
  font-size: 500px;
  text-transform: uppercase;
}

p {
  font-family: "Bricolage Grotesque";
  font-size: 60px;
  font-weight: 550;
}

.btn-container {
  z-index: 40;
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

button {
  font-family: "Bricolage Grotesque", "sans-serif";
  font-size: 26px;
  padding: 10px 50px;
  border: 2px solid white;
  border-radius: 50px;
  background-color: transparent;
  transition: background-color 0.2s ease, color 0.2s ease;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

// CORRIGER
.btn-arrow {
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);

  &:hover {
    background-color: white;
    color: black;

    .btn-arrow {
      transform: translateY(-6px);
    }
  }

  &:active .btn-arrow {
    transform: translateY(-2px);
  }
}
