* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  scroll-behavior: smooth;
}

img,
video {
  height: 50vh;
  width: 80vh;
  display: block;
}

h1 {
  text-align: center;
  font-family: "Dorsa", "sans-serif";
  font-size: 500px;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: "Bricolage Grotesque";
  font-size: 45px;
  font-weight: 550;
}

a {
  text-decoration: none;
}

.scene-text-container {
  display: flex;
  flex-direction: column;

  padding: 6vh 10vw 0 8vw;
  p {
    max-width: 45vw;
    margin-bottom: 5vh;
  }

  p:nth-of-type(even) {
    align-self: flex-end;
    text-align: right;
  }
}

.zoom-06 {
  p {
    margin-top: 25vh;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  padding: 150px 100px;
  img {
    max-height: 80vh;
  }
}

.footer-content-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-family: "Albert Sans";
    font-size: 50px;
    letter-spacing: -3.5px;
    margin-top: -120px;
  }
}
